aiohttp==3.11.12
aiosignal==1.3.1
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.1
colorama==0.4.6
crispy-bootstrap4==2023.1
Django==4.2.19
django-ckeditor==6.7.0
django-crispy-forms==2.1
django-filter==23.3
django-js-asset==2.1.0
frozenlist==1.4.0
h11==0.14.0
idna==3.4
multidict==6.0.4
openai==0.28.1
outcome==1.3.0
Pillow==11.1.0
pycparser==2.21
PySocks==1.7.1
requests==2.31.0
selenium==4.14.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.4
tqdm==4.66.1
trio==0.22.2
trio-websocket==0.11.1
tzdata==2023.3
urllib3==2.0.7
wsproto==1.2.0
yarl==1.9.2
