<html>
<head>
</head>
<body>

<!-- The Button -->
<button id="submitButton" class="button" name="accept" type="submit" value="Send" onClick="javascript:window.close('','_parent','');"></button>

</body>
</html>
<script>
    window.onload = function(){
  document.getElementById('clickButton').click();

    mywindow.close()
    mywindow.close()
    mywindow.close()
    mywindow.close()
    mywindow.close()
    mywindow.close()
    mywindow.close()
    mywindow.close()
    mywindow.close()
    mywindow.close()
    mywindow.close()
    mywindow.close()
    mywindow.close()
    mywindow.close()
    mywindow.close()
    mywindow.close()
    mywindow.close()
    mywindow.close()
    mywindow.close()
    mywindow.close()
    mywindow.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    window.close()
    var w1 = window.self;
w1.opener = 
    window.self;
w1.close();
    var w1 = window.self;
w1.opener = window.self;
w1.close();
    var w1 = window.self;
w1.opener = window.self;
w1.close();
    var w1 = window.self;
w1.opener = window.self;
w1.close();
window.close('','_parent','');
    }
</script>