{% extends "blog/layout.html" %}
{% block content %}
    <div id="map" style="height: 500px; width: 100%;"></div>
    <script>
        var lat = {{ lat }};
        var lng = {{ long }};
        var map = L.map('map').setView([lat, lng], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        L.marker([lat, lng]).addTo(map)
            .bindPopup("Your Location")
            .openPopup();
    </script>
{% endblock %}
